<%- include ("navbar.ejs"); %>
	<!-- Section -->
   <!-- Body -->
   <header class="py-5 bg-black">
    <div class="container px-4">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="text-center my-5">
            <h1 class="display-4 fw-bold text-white mb-3">What is Your Website?</h1>
            <p class="lead fw-normal text-white-50 mb-4">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing.</p>
            <a class="btn btn-light fw-bold fs-7 rounded-0 shadow-none border-0 px-5 py-3 text-uppercase mt-3" href="#scroll-target">Read Our Story</a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="py-5 bg-white" id="scroll-target">
    <div class="container my-5">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-6">
          <img class="img-fluid rounded-0 mb-5 mb-lg-0" src="/user/img/vision.jpg" alt="...">
        </div>
        <div class="col-lg-6 ps-lg-5">
          <div class="ps-lg-5">
            <h2 class="fw-bold mb-3 text-body">Our Vision</h2>
            <p class="lead fw-normal text-muted mb-0">Condimentum leo utipsum euismod feugiatn elntum sapiennonser variusmi elementum necunc elem entum velitnon tortor convallis variusa placerat nequhse. Quis eu Lorem irure magna.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-5 bg-body-tertiary">
    <div class="container my-5">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-6 order-first order-lg-last">
          <img class="img-fluid rounded-0 mb-5 mb-lg-0" src="/user/img/mission.jpg" alt="...">
        </div>
        <div class="col-lg-6">
          <div class="pe-lg-5">
            <h2 class="fw-bold mb-3 text-body">Our Mission</h2>
            <p class="lead fw-normal text-muted mb-0">Sint officia nulla deserunt voluptate non amet consequat ipsum tempor. Nulla id cupidatat ipsum occaecat. Aute ad et fugiat velit sunt qui veniam labore elit ipsum commodo proident.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
    <!-- End / Section -->
<%- include ("footer.ejs"); %>