<%- include("navbar.ejs"); %>
   <!-- Body -->
   <header class="py-5 bg-black">
    <div class="container px-4">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="text-center my-5">
            <h1 class="display-4 fw-bold text-white mb-3">Your Website Blog</h1>
            <p class="lead fw-normal text-white-50 mb-4">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="py-5 blog-list-page">
    <div class="container py-4">
      <div class="row g-5">
        <div class="col-lg-4 col-12 mb-4">
          <div class="card border-0 rounded-0">
            <img src="/user/img/discover-products/product-1.jpg" class="card-img-top rounded-0" alt="blog">
            <div class="card-body px-0">
              <p class="small">MARCH 31, 2023 <span class="mx-2">/</span>
                <a href="#" class="link-secondary">HOME CLEANING</a>
              </p>
              <a href="#">
                <h5 class="card-title fw-bold mb-0 text-black">Condimentum mattis pellentesque id nibh tortor</h5>
              </a>
            </div>
            <div class="card-footer bg-transparent border-0 px-0">
              <a class="stretched-link" href="blog-detail.html">Read More <i class="ri-arrow-right-line ms-2"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12 mb-4">
          <div class="card border-0 rounded-0">
            <img src="/user/img/discover-products/product-2.jpg" class="card-img-top rounded-0" alt="blog">
            <div class="card-body px-0">
              <p class="small">MARCH 31, 2023 <span class="mx-2">/</span>
                <a href="#" class="link-secondary">HOME CLEANING</a>
              </p>
              <a href="#">
                <h5 class="card-title fw-bold mb-0 text-black">Diam volutpat commodo sed egestas egestas fringilla</h5>
              </a>
            </div>
            <div class="card-footer bg-transparent border-0 px-0">
              <a class="stretched-link" href="blog-detail.html">Read More <i class="ri-arrow-right-line ms-2"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12 mb-4">
          <div class="card border-0 rounded-0">
            <img src="/user/img/discover-products/product-3.jpg" class="card-img-top rounded-0" alt="blog">
            <div class="card-body px-0">
              <p class="small">MARCH 31, 2023 <span class="mx-2">/</span>
                <a href="#" class="link-secondary">HOME CLEANING</a>
              </p>
              <a href="#">
                <h5 class="card-title fw-bold mb-0 text-black">Excepteur sint occaecat cupidatat non proident</h5>
              </a>
            </div>
            <div class="card-footer bg-transparent border-0 px-0">
              <a class="stretched-link" href="blog-detail.html">Read More <i class="ri-arrow-right-line ms-2"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row g-5">
        <div class="col-lg-4 col-12 mb-4">
          <div class="card border-0 rounded-0">
            <img src="/user/img/discover-products/product-4.jpg" class="card-img-top rounded-0" alt="blog">
            <div class="card-body px-0">
              <p class="small">MARCH 31, 2023 <span class="mx-2">/</span>
                <a href="#" class="link-secondary">HOME CLEANING</a>
              </p>
              <a href="#">
                <h5 class="card-title fw-bold mb-0 text-black">Condimentum mattis pellentesque id nibh tortor</h5>
              </a>
            </div>
            <div class="card-footer bg-transparent border-0 px-0">
              <a class="stretched-link" href="blog-detail.html">Read More <i class="ri-arrow-right-line ms-2"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12 mb-4">
          <div class="card border-0 rounded-0">
            <img src="/user/img/discover-products/product-5.jpg" class="card-img-top rounded-0" alt="blog">
            <div class="card-body px-0">
              <p class="small">MARCH 31, 2023 <span class="mx-2">/</span>
                <a href="#" class="link-secondary">HOME CLEANING</a>
              </p>
              <a href="#">
                <h5 class="card-title fw-bold mb-0 text-black">Diam volutpat commodo sed egestas egestas fringilla</h5>
              </a>
            </div>
            <div class="card-footer bg-transparent border-0 px-0">
              <a class="stretched-link" href="blog-detail.html">Read More <i class="ri-arrow-right-line ms-2"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12 mb-4">
          <div class="card border-0 rounded-0">
            <img src="/user/img/discover-products/product-6.jpg" class="card-img-top rounded-0" alt="blog">
            <div class="card-body px-0">
              <p class="small">MARCH 31, 2023 <span class="mx-2">/</span>
                <a href="#" class="link-secondary">HOME CLEANING</a>
              </p>
              <a href="#">
                <h5 class="card-title fw-bold mb-0 text-black">Excepteur sint occaecat cupidatat non proident</h5>
              </a>
            </div>
            <div class="card-footer bg-transparent border-0 px-0">
              <a class="stretched-link" href="blog-detail.html">Read More <i class="ri-arrow-right-line ms-2"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row g-5">
        <div class="col-lg-4 col-12 mb-4">
          <div class="card border-0 rounded-0">
            <img src="/user/img/discover-products/product-7.jpg" class="card-img-top rounded-0" alt="blog">
            <div class="card-body px-0">
              <p class="small">MARCH 31, 2023 <span class="mx-2">/</span>
                <a href="#" class="link-secondary">HOME CLEANING</a>
              </p>
              <a href="#">
                <h5 class="card-title fw-bold mb-0 text-black">Condimentum mattis pellentesque id nibh tortor</h5>
              </a>
            </div>
            <div class="card-footer bg-transparent border-0 px-0">
              <a class="stretched-link" href="blog-detail.html">Read More <i class="ri-arrow-right-line ms-2"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12 mb-4">
          <div class="card border-0 rounded-0">
            <img src="/user/img/discover-products/product-8.jpg" class="card-img-top rounded-0" alt="blog">
            <div class="card-body px-0">
              <p class="small">MARCH 31, 2023 <span class="mx-2">/</span>
                <a href="#" class="link-secondary">HOME CLEANING</a>
              </p>
              <a href="#">
                <h5 class="card-title fw-bold mb-0 text-black">Diam volutpat commodo sed egestas egestas fringilla</h5>
              </a>
            </div>
            <div class="card-footer bg-transparent border-0 px-0">
              <a class="stretched-link" href="blog-detail.html">Read More <i class="ri-arrow-right-line ms-2"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12 mb-4">
          <div class="card border-0 rounded-0">
            <img src="/user/img/discover-products/product-9.jpg" class="card-img-top rounded-0" alt="blog">
            <div class="card-body px-0">
              <p class="small">MARCH 31, 2023 <span class="mx-2">/</span>
                <a href="#" class="link-secondary">HOME CLEANING</a>
              </p>
              <a href="#">
                <h5 class="card-title fw-bold mb-0 text-black">Excepteur sint occaecat cupidatat non proident</h5>
              </a>
            </div>
            <div class="card-footer bg-transparent border-0 px-0">
              <a class="stretched-link" href="blog-detail.html">Read More <i class="ri-arrow-right-line ms-2"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 
<%- include("Footer.ejs"); %>