<%- include("navbar.ejs"); %>
  <!-- Body -->
  <header class="py-5 bg-black">
    <div class="container px-4">
      <div class="row justify-content-center">
        <div class="col-lg-8 mx-auto text-center py-4">
          <h1 class="page-header mb-3 text-white">Odio Utsem Nulla Pharetra Diam Sitametnisl Elementum</h1>
          <div class="d-flex align-items-center justify-content-center gap-3 text-white-50">
            <img src="/user/img/profile/profile-1.jpg" alt="profile" style="height: 20px;" class="rounded-circle img-fluid">
            <small>BY <a href="#" class="link-light">JAM</a>
              <span class="mx-2">/</span>ON MAY 17, 2023 <span class="mx-2">/</span>
              <a href="hill.html" class="link-light">HILLS</a>, <a href="waves.html" class="link-light">WAVES</a>
            </small>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="py-5">
    <div class="container py-4">
      <div class="row justify-content-center g-4">
        <div class="col-xl-7 col-lg-8 col-md-10 col-12">
          <p>Senectus et netus et malesuada fames ac turpis egestas. Sed libero enim sed faucibus turpis in eu. Pharetra diam sit amet nisl suscipit adipiscing bibendum est. Leo in vitae turpis massa sed elementum tempus egestas. Vulputate dignissim suspendisse in est ante in nibh mauris cursus. Nulla pellentesque dignissim enim sit amet.</p>
        </div>
        <div class="col-xl-9 col-lg-10 col-md-11 col-12 mb-4">
          <div class="row g-4">
            <div class="col-lg-4 col-md-6 col-12">
              <img src="/user/img/discover-products/product-1.jpg" alt="blog-detail-1" class="img-fluid rounded-0">
            </div>
            <div class="col-lg-4 col-md-6 col-12">
              <img src="/user/img/discover-products/product-2.jpg" alt="blog-detail-2" class="img-fluid rounded-0">
            </div>
            <div class="col-lg-4 col-md-6 col-12">
              <img src="/user/img/discover-products/product-3.jpg" alt="blog-detail-3" class="img-fluid rounded-0">
            </div>
            <div class="col-lg-4 col-md-6 col-12">
              <img src="/user/img/discover-products/product-4.jpg" alt="blog-detail-4" class="img-fluid rounded-0">
            </div>
            <div class="col-lg-4 col-md-6 col-12">
              <img src="/user/img/discover-products/product-5.jpg" alt="blog-detail-5" class="img-fluid rounded-0">
            </div>
            <div class="col-lg-4 col-md-6 col-12">
              <img src="/user/img/discover-products/product-6.jpg" alt="blog-detail-6" class="img-fluid rounded-0">
            </div>
          </div>
        </div>
        <div class="col-xl-7 col-lg-8 col-md-10 col-12 mb-5">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem quas aliquam voluptatibus molestiae maiores autem vel, deleniti quasi, ipsum reprehenderit eos recusandae optio excepturi assumenda, voluptates aliquid praesentium dolore? Recusandae? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt cupiditate sed aliquam maxime nihil libero recusandae asperiores, eum magnam autem, in aspernatur ducimus? Sint quisquam qui laudantium temporibus, ea veniam.</p>
          <p>Pellentesque elit eget gravida cum sociis natoque penatibus et magnis. Scelerisque viverra mauris in aliquam sem. Cras semper auctor neque vitae tempus. At augue eget arcu dictum varius duis at consectetur. Euismod lacinia at quis risus sed vulputate odio. Habitant morbi tristique senectus et netus et malesuada fames. Pharetra sit amet aliquam id. Imperdiet dui accumsan sit amet nulla facilisi morbi tempus. Facilisi nullam vehicula ipsum a arcu cursus vitae. Arcu non odio euismod lacinia at quis. Et malesuada fames ac turpis egestas. Volutpat lacus laoreet non curabitur gravida arcu ac tortor.</p>
          <p>Orci ac auctor augue mauris augue neque. Senectus et netus et malesuada fames ac. Risus pretium quam vulputate dignissim suspendisse in est ante. Risus pretium quam vulputate dignissim suspendisse. Euismod nisi porta lorem mollis aliquam ut porttitor. At varius vel pharetra vel turpis nunc eget. Aliquam ultrices sagittis orci a.</p>
          <p>Amet consectetur adipiscing elit duis tristique sollicitudin nibh sit amet. Feugiat nisl pretium fusce id velit ut tortor pretium. Et sollicitudin ac orci phasellus egestas tellus. Felis imperdiet proin fermentum leo vel orci. Fermentum iaculis eu non diam.</p>
          <p>Eleifend mi in nulla posuere. Morbi tristique senectus et netus. Est pellentesque elit ullamcorper dignissim cras. Scelerisque mauris pellentesque pulvinar pellentesque. Nisl purus in mollis nunc sed. Quam vulputate dignissim suspendisse in. Tellus in metus vulputate eu scelerisque felis imperdiet proin fermentum.</p>
        </div>
        <div class="col-xl-7 col-lg-8 col-md-10 col-12">
          <div class="mb-4">
            <h4 class="fw-bold">Leave a Reply</h4>
            <small>Your email address will not be published. Required fields are marked *</small>
          </div>
          <form class="row g-3">
            <div class="col-md-4">
              <label class="form-label small text-muted">Name <small class="text-danger">*</small>
              </label>
              <input type="text" class="form-control rounded-0" placeholder="Name">
            </div>
            <div class="col-md-4">
              <label class="form-label small text-muted">Email <small class="text-danger">*</small>
              </label>
              <input type="email" class="form-control rounded-0" placeholder="Email">
            </div>
            <div class="col-md-4">
              <label class="form-label small text-muted">Website <small class="text-danger">*</small>
              </label>
              <input type="text" class="form-control rounded-0" placeholder="Website">
            </div>
            <div class="col-md-12">
              <label class="form-label small text-muted">Comment <small class="text-danger">*</small>
              </label>
              <textarea class="form-control rounded-0" rows="6"></textarea>
            </div>
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input rounded-0" type="checkbox" id="gridCheck">
                <label class="form-check-label small" for="gridCheck"> Save my name, email, and website in this browser for the next time I comment. </label>
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-dark px-3 rounded-0">Post Comment</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<%- include("footer.ejs"); %>