<%- include("navbar.ejs"); %>    
<!-- Section -->
        <section class="md-section" id="id4" style="background-color:#fff;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-2 ">
                        
                        <!-- sec-title -->
                        <div class="sec-title sec-title__lg-title md-text-center">
                            <h2 class="sec-title__title">Gallery</h2><span class="sec-title__divider"></span>
                        </div><!-- End / sec-title -->
                        
                    </div>
                </div>
                
                <!-- gallery-wrap -->
                <div class="gallery-wrap gallery-album">
                    <div class="grid-css grid-css--grid" data-col-lg="4" data-col-md="2" data-col-sm="2" data-col-xs="1" data-gap="30">
                        <div class="grid__inner">
                            <div class="grid-sizer"></div>
                            
                            <!-- grid-item -->
                            <div class="grid-item large">
                                <div class="grid-item__inner">
                                    <div class="grid-item__content-wrapper">
                                        
                                        <!-- gallery -->
                                        <div class="gallery gallery--grid">
                                            <div class="gallery__image bg-image" style="background-image: url(user/img/gallery/9.jpg);"><img src="user/img/gallery/9.jpg" alt="How to Create and"/><a class="gallery__overlay mfp-image" href="user/img/gallery/9.jpg" data-effect="mfp-zoom-in" title="Design a Perfect">
                                                    <div class="md-tb">
                                                        <div class="md-tb__cell md-text-center"><i class="fa fa-search"></i></div>
                                                    </div></a>
                                            </div>
                                        </div><!-- End / gallery -->
                                        
                                    </div>
                                </div>
                            </div><!-- End / grid-item -->
                            
                            
                            <!-- grid-item -->
                            <div class="grid-item wide">
                                <div class="grid-item__inner">
                                    <div class="grid-item__content-wrapper">
                                        
                                        <!-- gallery -->
                                        <div class="gallery gallery--grid">
                                            <div class="gallery__image bg-image" style="background-image: url(user/img/gallery/10.jpg);"><img src="user/img/gallery/10.jpg" alt="How to Master"/><a class="gallery__overlay mfp-image" href="user/img/gallery/10.jpg" data-effect="mfp-zoom-in" title="Using Memes in Your">
                                                    <div class="md-tb">
                                                        <div class="md-tb__cell md-text-center"><i class="fa fa-search"></i></div>
                                                    </div></a>
                                            </div>
                                        </div><!-- End / gallery -->
                                        
                                    </div>
                                </div>
                            </div><!-- End / grid-item -->
                            
                            
                            <!-- grid-item -->
                            <div class="grid-item">
                                <div class="grid-item__inner">
                                    <div class="grid-item__content-wrapper">
                                        
                                        <!-- gallery -->
                                        <div class="gallery gallery--grid">
                                            <div class="gallery__image bg-image" style="background-image: url(user/img/gallery/11.jpg);"><img src="user/img/gallery/11.jpg" alt="7 UI Choices That"/><a class="gallery__overlay mfp-image" href="user/img/gallery/11.jpg" data-effect="mfp-zoom-in" title="Free PSD Files">
                                                    <div class="md-tb">
                                                        <div class="md-tb__cell md-text-center"><i class="fa fa-search"></i></div>
                                                    </div></a>
                                            </div>
                                        </div><!-- End / gallery -->
                                        
                                    </div>
                                </div>
                            </div><!-- End / grid-item -->
                            
                            
                            <!-- grid-item -->
                            <div class="grid-item">
                                <div class="grid-item__inner">
                                    <div class="grid-item__content-wrapper">
                                        
                                        <!-- gallery -->
                                        <div class="gallery gallery--grid">
                                            <div class="gallery__image bg-image" style="background-image: url(user/img/gallery/12.jpg);"><img src="user/img/gallery/12.jpg" alt="Using Memes in Your"/><a class="gallery__overlay mfp-image" href="user/img/gallery/12.jpg" data-effect="mfp-zoom-in" title="Is UX Really That">
                                                    <div class="md-tb">
                                                        <div class="md-tb__cell md-text-center"><i class="fa fa-search"></i></div>
                                                    </div></a>
                                            </div>
                                        </div><!-- End / gallery -->
                                        
                                    </div>
                                </div>
                            </div><!-- End / grid-item -->
                            
                            
                            <!-- grid-item -->
                            <div class="grid-item">
                                <div class="grid-item__inner">
                                    <div class="grid-item__content-wrapper">
                                        
                                        <!-- gallery -->
                                        <div class="gallery gallery--grid">
                                            <div class="gallery__image bg-image" style="background-image: url(user/img/gallery/13.jpg);"><img src="user/img/gallery/13.jpg" alt="How To Build A"/><a class="gallery__overlay mfp-image" href="user/img/gallery/13.jpg" data-effect="mfp-zoom-in" title="Free Sketch Plugins">
                                                    <div class="md-tb">
                                                        <div class="md-tb__cell md-text-center"><i class="fa fa-search"></i></div>
                                                    </div></a>
                                            </div>
                                        </div><!-- End / gallery -->
                                        
                                    </div>
                                </div>
                            </div><!-- End / grid-item -->
                            
                            
                            <!-- grid-item -->
                            <div class="grid-item">
                                <div class="grid-item__inner">
                                    <div class="grid-item__content-wrapper">
                                        
                                        <!-- gallery -->
                                        <div class="gallery gallery--grid">
                                            <div class="gallery__image bg-image" style="background-image: url(user/img/gallery/14.jpg);"><img src="user/img/gallery/14.jpg" alt="Using Memes in Your"/><a class="gallery__overlay mfp-image" href="user/img/gallery/14.jpg" data-effect="mfp-zoom-in" title="How to Create and">
                                                    <div class="md-tb">
                                                        <div class="md-tb__cell md-text-center"><i class="fa fa-search"></i></div>
                                                    </div></a>
                                            </div>
                                        </div><!-- End / gallery -->
                                        
                                    </div>
                                </div>
                            </div><!-- End / grid-item -->
                            
                            
                            <!-- grid-item -->
                            <div class="grid-item large">
                                <div class="grid-item__inner">
                                    <div class="grid-item__content-wrapper">
                                        
                                        <!-- gallery -->
                                        <div class="gallery gallery--grid">
                                            <div class="gallery__image bg-image" style="background-image: url(user/img/gallery/1.jpg);"><img src="user/img/gallery/1.jpg" alt="Is UX Really That"/><a class="gallery__overlay mfp-image" href="user/img/gallery/1.jpg" data-effect="mfp-zoom-in" title="How to Master">
                                                    <div class="md-tb">
                                                        <div class="md-tb__cell md-text-center"><i class="fa fa-search"></i></div>
                                                    </div></a>
                                            </div>
                                        </div><!-- End / gallery -->
                                        
                                    </div>
                                </div>
                            </div><!-- End / grid-item -->
                            
                            
                            <!-- grid-item -->
                            <div class="grid-item wide">
                                <div class="grid-item__inner">
                                    <div class="grid-item__content-wrapper">
                                        
                                        <!-- gallery -->
                                        <div class="gallery gallery--grid">
                                            <div class="gallery__image bg-image" style="background-image: url(user/img/gallery/2.jpg);"><img src="user/img/gallery/2.jpg" alt="Getting Started with"/><a class="gallery__overlay mfp-image" href="user/img/gallery/2.jpg" data-effect="mfp-zoom-in" title="The Essential Guide">
                                                    <div class="md-tb">
                                                        <div class="md-tb__cell md-text-center"><i class="fa fa-search"></i></div>
                                                    </div></a>
                                            </div>
                                        </div><!-- End / gallery -->
                                        
                                    </div>
                                </div>
                            </div><!-- End / grid-item -->
                            
                        </div>
                    </div>
                </div><!-- End / gallery-wrap -->
                
            </div>
        </section>
        <!-- End / Section -->
    <%- include("footer.ejs"); %>    