<%- include("navbar.ejs"); %>
<div class="py-5">
  <div class="container py-4">
 
    <!-- all products -->
    <div>
      <div class="row align-items-center justify-content-between mb-3">
        <div class="col-auto">
          <h4 class="fw-bold mb-0">All Products</h4>
        </div>
      </div>
      <div class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-6 row-cols-1 g-4">
        <div class="col">
          <div class="card bg-transparent border-0 rounded-0 h-100 product">
            <div class="position-relative">
              <img src="/user/img/whats-new/new-1.jpg" class="card-img-top rounded-0" alt="what's-new">
              <div class="overlay position-absolute start-0 end-0 top-0 bottom-0 opacity-0 bg-dark bg-opacity-75 d-flex align-items-center h-100">
                <a href="#" class="link-light position-absolute top-0 end-0 m-3">
                  <i class="ri-heart-line ri-lg"></i>
                </a>
                <div class="d-flex align-items-center gap-3 position-absolute bottom-0 w-100 p-3">
                  <a href="cart.html" class="btn btn-light btn-sm rounded-0 border-2 d-flex align-items-center justify-content-between w-100">
                    <i class="ri-shopping-bag-line"></i>
                    <div>ADD TO CART</div>
                    <span class="px-1"></span>
                  </a>
                  <div class="w-auto z-3">
                    <input type="checkbox" class="btn-check" id="btncheck1">
                    <label class="btn btn-outline-light btn-sm border-2 rounded-0" for="btncheck1">
                      <i class="ri-heart-fill"></i>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body pb-0 px-0">
              <h6 class="card-title text-truncate mb-1">The Good Earth® Cotton Slub Henley </h6>
              <p class="card-text text-secondary-emphasis mb-0">Size: US XL / EU 56/ 4 </p>
            </div>
            <div class="card-footer bg-transparent border-0 px-0">
              <h6 class="mb-0">₹17,565</h6>
            </div>
            <a href="cart.html" class="stretched-link"></a>
          </div>
        </div>
        <div class="col">
          <div class="card bg-transparent border-0 rounded-0 h-100 product">
            <div class="position-relative">
              <img src="/user/img/whats-new/new-2.jpg" class="card-img-top rounded-0" alt="what's-new">
              <div class="overlay position-absolute start-0 end-0 top-0 bottom-0 opacity-0 bg-dark bg-opacity-75 d-flex align-items-center h-100">
                <a href="#" class="link-light position-absolute top-0 end-0 m-3">
                  <i class="ri-heart-line ri-lg"></i>
                </a>
                <div class="d-flex align-items-center gap-3 position-absolute bottom-0 w-100 p-3">
                  <a href="cart.html" class="btn btn-light btn-sm rounded-0 border-2 d-flex align-items-center justify-content-between w-100">
                    <i class="ri-shopping-bag-line"></i>
                    <div>ADD TO CART</div>
                    <span class="px-1"></span>
                  </a>
                  <div class="w-auto z-3">
                    <input type="checkbox" class="btn-check" id="btncheck2">
                    <label class="btn btn-outline-light btn-sm border-2 rounded-0" for="btncheck2">
                      <i class="ri-heart-fill"></i>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body pb-0 px-0">
              <h6 class="card-title text-truncate mb-1">The Relaxed Organic Chambray Shirt </h6>
              <p class="card-text text-secondary-emphasis mb-0">Size: US XL / EU 56/ 4 </p>
            </div>
            <div class="card-footer bg-transparent border-0 px-0">
              <h6 class="mb-0">₹17,565</h6>
            </div>
            <a href="cart.html" class="stretched-link"></a>
          </div>
        </div>
        <div class="col">
          <div class="card bg-transparent border-0 rounded-0 h-100 product">
            <div class="position-relative">
              <img src="/user/img/whats-new/new-3.jpg" class="card-img-top rounded-0" alt="what's-new">
              <div class="overlay position-absolute start-0 end-0 top-0 bottom-0 opacity-0 bg-dark bg-opacity-75 d-flex align-items-center h-100">
                <a href="#" class="link-light position-absolute top-0 end-0 m-3">
                  <i class="ri-heart-line ri-lg"></i>
                </a>
                <div class="d-flex align-items-center gap-3 position-absolute bottom-0 w-100 p-3">
                  <a href="cart.html" class="btn btn-light btn-sm rounded-0 border-2 d-flex align-items-center justify-content-between w-100">
                    <i class="ri-shopping-bag-line"></i>
                    <div>ADD TO CART</div>
                    <span class="px-1"></span>
                  </a>
                  <div class="w-auto z-3">
                    <input type="checkbox" class="btn-check" id="btncheck3">
                    <label class="btn btn-outline-light btn-sm border-2 rounded-0" for="btncheck3">
                      <i class="ri-heart-fill"></i>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body pb-0 px-0">
              <h6 class="card-title text-truncate mb-1">The Organic Taper Jean </h6>
              <p class="card-text text-secondary-emphasis mb-0">Size: US XL / EU 56/ 4 </p>
            </div>
            <div class="card-footer bg-transparent border-0 px-0">
              <h6 class="mb-0">₹17,565</h6>
            </div>
            <a href="cart.html" class="stretched-link"></a>
          </div>
        </div>
        <div class="col">
          <div class="card bg-transparent border-0 rounded-0 h-100 product">
            <div class="position-relative">
              <img src="/user/img/whats-new/new-4.jpg" class="card-img-top rounded-0" alt="what's-new">
              <div class="overlay position-absolute start-0 end-0 top-0 bottom-0 opacity-0 bg-dark bg-opacity-75 d-flex align-items-center h-100">
                <a href="#" class="link-light position-absolute top-0 end-0 m-3">
                  <i class="ri-heart-line ri-lg"></i>
                </a>
                <div class="d-flex align-items-center gap-3 position-absolute bottom-0 w-100 p-3">
                  <a href="cart.html" class="btn btn-light btn-sm rounded-0 border-2 d-flex align-items-center justify-content-between w-100">
                    <i class="ri-shopping-bag-line"></i>
                    <div>ADD TO CART</div>
                    <span class="px-1"></span>
                  </a>
                  <div class="w-auto z-3">
                    <input type="checkbox" class="btn-check" id="btncheck4">
                    <label class="btn btn-outline-light btn-sm border-2 rounded-0" for="btncheck4">
                      <i class="ri-heart-fill"></i>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body pb-0 px-0">
              <h6 class="card-title text-truncate mb-1">Bomber jacket </h6>
              <p class="card-text text-secondary-emphasis mb-0">Size: US XL / EU 56/ 4 </p>
            </div>
            <div class="card-footer bg-transparent border-0 px-0">
              <h6 class="mb-0">₹17,565</h6>
            </div>
            <a href="cart.html" class="stretched-link"></a>
          </div>
        </div>
        <div class="col">
          <div class="card bg-transparent border-0 rounded-0 h-100 product">
            <div class="position-relative">
              <img src="/user/img/whats-new/new-5.jpg" class="card-img-top rounded-0" alt="what's-new">
              <div class="overlay position-absolute start-0 end-0 top-0 bottom-0 opacity-0 bg-dark bg-opacity-75 d-flex align-items-center h-100">
                <a href="#" class="link-light position-absolute top-0 end-0 m-3">
                  <i class="ri-heart-line ri-lg"></i>
                </a>
                <div class="d-flex align-items-center gap-3 position-absolute bottom-0 w-100 p-3">
                  <a href="cart.html" class="btn btn-light btn-sm rounded-0 border-2 d-flex align-items-center justify-content-between w-100">
                    <i class="ri-shopping-bag-line"></i>
                    <div>ADD TO CART</div>
                    <span class="px-1"></span>
                  </a>
                  <div class="w-auto z-3">
                    <input type="checkbox" class="btn-check" id="btncheck5">
                    <label class="btn btn-outline-light btn-sm border-2 rounded-0" for="btncheck5">
                      <i class="ri-heart-fill"></i>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body pb-0 px-0">
              <h6 class="card-title text-truncate mb-1">The Canvas Organic Cotton Overshirt </h6>
              <p class="card-text text-secondary-emphasis mb-0">Size: US XL / EU 56/ 4 </p>
            </div>
            <div class="card-footer bg-transparent border-0 px-0">
              <h6 class="mb-0">₹17,565</h6>
            </div>
            <a href="cart.html" class="stretched-link"></a>
          </div>
        </div>
        <div class="col">
          <div class="card bg-transparent border-0 rounded-0 h-100 product">
            <div class="position-relative">
              <img src="/user/img/whats-new/new-6.jpg" class="card-img-top rounded-0" alt="what's-new">
              <div class="overlay position-absolute start-0 end-0 top-0 bottom-0 opacity-0 bg-dark bg-opacity-75 d-flex align-items-center h-100">
                <a href="#" class="link-light position-absolute top-0 end-0 m-3">
                  <i class="ri-heart-line ri-lg"></i>
                </a>
                <div class="d-flex align-items-center gap-3 position-absolute bottom-0 w-100 p-3">
                  <a href="cart.html" class="btn btn-light btn-sm rounded-0 border-2 d-flex align-items-center justify-content-between w-100">
                    <i class="ri-shopping-bag-line"></i>
                    <div>ADD TO CART</div>
                    <span class="px-1"></span>
                  </a>
                  <div class="w-auto z-3">
                    <input type="checkbox" class="btn-check" id="btncheck6">
                    <label class="btn btn-outline-light btn-sm border-2 rounded-0" for="btncheck6">
                      <i class="ri-heart-fill"></i>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body pb-0 px-0">
              <h6 class="card-title text-truncate mb-1">Regular Fit Terry resort shirt </h6>
              <p class="card-text text-secondary-emphasis mb-0">Size: US XL / EU 56/ 4 </p>
            </div>
            <div class="card-footer bg-transparent border-0 px-0">
              <h6 class="mb-0">₹17,565</h6>
            </div>
            <a href="cart.html" class="stretched-link"></a>
          </div>
        </div>
        <div class="col">
          <div class="card bg-transparent border-0 rounded-0 h-100 product">
            <div class="position-relative">
              <img src="/user/img/whats-new/new-7.jpg" class="card-img-top rounded-0" alt="what's-new">
              <div class="overlay position-absolute start-0 end-0 top-0 bottom-0 opacity-0 bg-dark bg-opacity-75 d-flex align-items-center h-100">
                <a href="#" class="link-light position-absolute top-0 end-0 m-3">
                  <i class="ri-heart-line ri-lg"></i>
                </a>
                <div class="d-flex align-items-center gap-3 position-absolute bottom-0 w-100 p-3">
                  <a href="cart.html" class="btn btn-light btn-sm rounded-0 border-2 d-flex align-items-center justify-content-between w-100">
                    <i class="ri-shopping-bag-line"></i>
                    <div>ADD TO CART</div>
                    <span class="px-1"></span>
                  </a>
                  <div class="w-auto z-3">
                    <input type="checkbox" class="btn-check" id="btncheck7">
                    <label class="btn btn-outline-light btn-sm border-2 rounded-0" for="btncheck7">
                      <i class="ri-heart-fill"></i>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body pb-0 px-0">
              <h6 class="card-title text-truncate mb-1">The Brushed Flannel Shirt </h6>
              <p class="card-text text-secondary-emphasis mb-0">Size: US XL / EU 56/ 4 </p>
            </div>
            <div class="card-footer bg-transparent border-0 px-0">
              <h6 class="mb-0">₹17,565</h6>
            </div>
            <a href="cart.html" class="stretched-link"></a>
          </div>
        </div>
        <div class="col">
          <div class="card bg-transparent border-0 rounded-0 h-100 product">
            <div class="position-relative">
              <img src="/user/img/trending-style/trending-style-1.jpg" class="card-img-top rounded-0" alt="what's-new">
              <div class="overlay position-absolute start-0 end-0 top-0 bottom-0 opacity-0 bg-dark bg-opacity-75 d-flex align-items-center h-100">
                <a href="#" class="link-light position-absolute top-0 end-0 m-3">
                  <i class="ri-heart-line ri-lg"></i>
                </a>
                <div class="d-flex align-items-center gap-3 position-absolute bottom-0 w-100 p-3">
                  <a href="cart.html" class="btn btn-light btn-sm rounded-0 border-2 d-flex align-items-center justify-content-between w-100">
                    <i class="ri-shopping-bag-line"></i>
                    <div>ADD TO CART</div>
                    <span class="px-1"></span>
                  </a>
                  <div class="w-auto z-3">
                    <input type="checkbox" class="btn-check" id="btncheck8">
                    <label class="btn btn-outline-light btn-sm border-2 rounded-0" for="btncheck8">
                      <i class="ri-heart-fill"></i>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body pb-0 px-0">
              <h6 class="card-title text-truncate mb-1">Skinny Fit Cargo joggers </h6>
              <p class="card-text text-secondary-emphasis mb-0">Size: US XL / EU 56/ 4 </p>
            </div>
            <div class="card-footer bg-transparent border-0 px-0">
              <h6 class="mb-0">₹17,565</h6>
            </div>
            <a href="cart.html" class="stretched-link"></a>
          </div>
        </div>
        <div class="col">
          <div class="card bg-transparent border-0 rounded-0 h-100 product">
            <div class="position-relative">
              <img src="/user/img/trending-style/trending-style-2.jpg" class="card-img-top rounded-0" alt="what's-new">
              <div class="overlay position-absolute start-0 end-0 top-0 bottom-0 opacity-0 bg-dark bg-opacity-75 d-flex align-items-center h-100">
                <a href="#" class="link-light position-absolute top-0 end-0 m-3">
                  <i class="ri-heart-line ri-lg"></i>
                </a>
                <div class="d-flex align-items-center gap-3 position-absolute bottom-0 w-100 p-3">
                  <a href="cart.html" class="btn btn-light btn-sm rounded-0 border-2 d-flex align-items-center justify-content-between w-100">
                    <i class="ri-shopping-bag-line"></i>
                    <div>ADD TO CART</div>
                    <span class="px-1"></span>
                  </a>
                  <div class="w-auto z-3">
                    <input type="checkbox" class="btn-check" id="btncheck9">
                    <label class="btn btn-outline-light btn-sm border-2 rounded-0" for="btncheck9">
                      <i class="ri-heart-fill"></i>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body pb-0 px-0">
              <h6 class="card-title text-truncate mb-1">Relaxed Fit Printed hoodie </h6>
              <p class="card-text text-secondary-emphasis mb-0">Size: US XL / EU 56/ 4 </p>
            </div>
            <div class="card-footer bg-transparent border-0 px-0">
              <h6 class="mb-0">₹17,565</h6>
            </div>
            <a href="cart.html" class="stretched-link"></a>
          </div>
        </div>
        <div class="col">
          <div class="card bg-transparent border-0 rounded-0 h-100 product">
            <div class="position-relative">
              <img src="/user/img/trending-style/trending-style-3.jpg" class="card-img-top rounded-0" alt="what's-new">
              <div class="overlay position-absolute start-0 end-0 top-0 bottom-0 opacity-0 bg-dark bg-opacity-75 d-flex align-items-center h-100">
                <a href="#" class="link-light position-absolute top-0 end-0 m-3">
                  <i class="ri-heart-line ri-lg"></i>
                </a>
                <div class="d-flex align-items-center gap-3 position-absolute bottom-0 w-100 p-3">
                  <a href="cart.html" class="btn btn-light btn-sm rounded-0 border-2 d-flex align-items-center justify-content-between w-100">
                    <i class="ri-shopping-bag-line"></i>
                    <div>ADD TO CART</div>
                    <span class="px-1"></span>
                  </a>
                  <div class="w-auto z-3">
                    <input type="checkbox" class="btn-check" id="btncheck10">
                    <label class="btn btn-outline-light btn-sm border-2 rounded-0" for="btncheck10">
                      <i class="ri-heart-fill"></i>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body pb-0 px-0">
              <h6 class="card-title text-truncate mb-1">Relaxed Fit Single-breasted jacket </h6>
              <p class="card-text text-secondary-emphasis mb-0">Size: US XL / EU 56/ 4 </p>
            </div>
            <div class="card-footer bg-transparent border-0 px-0">
              <h6 class="mb-0">₹17,565</h6>
            </div>
            <a href="cart.html" class="stretched-link"></a>
          </div>
        </div>
        <div class="col">
          <div class="card bg-transparent border-0 rounded-0 h-100 product">
            <div class="position-relative">
              <img src="/user/img/trending-style/trending-style-4.jpg" class="card-img-top rounded-0" alt="what's-new">
              <div class="overlay position-absolute start-0 end-0 top-0 bottom-0 opacity-0 bg-dark bg-opacity-75 d-flex align-items-center h-100">
                <a href="#" class="link-light position-absolute top-0 end-0 m-3">
                  <i class="ri-heart-line ri-lg"></i>
                </a>
                <div class="position-absolute p-3 start-0 end-0">
                  <div class="bg-light px-3 py-2 w-50 m-auto">SOLD OUT</div>
                </div>
              </div>
            </div>
            <div class="card-body pb-0 px-0">
              <h6 class="card-title text-truncate mb-1">Satin baseball jacket </h6>
              <p class="card-text text-secondary-emphasis mb-0">Size: US XL / EU 56/ 4 </p>
            </div>
            <div class="card-footer bg-transparent border-0 px-0">
              <h6 class="mb-0">₹17,565</h6>
            </div>
            <a href="cart.html" class="stretched-link"></a>
          </div>
        </div>
        <div class="col">
          <div class="card bg-transparent border-0 rounded-0 h-100 product">
            <div class="position-relative">
              <img src="/user/img/trending-style/trending-style-5.jpg" class="card-img-top rounded-0" alt="what's-new">
              <div class="overlay position-absolute start-0 end-0 top-0 bottom-0 opacity-0 bg-dark bg-opacity-75 d-flex align-items-center h-100">
                <a href="#" class="link-light position-absolute top-0 end-0 m-3">
                  <i class="ri-heart-line ri-lg"></i>
                </a>
                <div class="d-flex align-items-center gap-3 position-absolute bottom-0 w-100 p-3">
                  <a href="cart.html" class="btn btn-light btn-sm rounded-0 border-2 d-flex align-items-center justify-content-between w-100">
                    <i class="ri-shopping-bag-line"></i>
                    <div>ADD TO CART</div>
                    <span class="px-1"></span>
                  </a>
                  <div class="w-auto z-3">
                    <input type="checkbox" class="btn-check" id="btncheck12">
                    <label class="btn btn-outline-light btn-sm border-2 rounded-0" for="btncheck12">
                      <i class="ri-heart-fill"></i>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body pb-0 px-0">
              <h6 class="card-title text-truncate mb-1">Regular Fit Tedd-lined overshirt </h6>
              <p class="card-text text-secondary-emphasis mb-0">Size: US XL / EU 56/ 4 </p>
            </div>
            <div class="card-footer bg-transparent border-0 px-0">
              <h6 class="mb-0">₹17,565</h6>
            </div>
            <a href="cart.html" class="stretched-link"></a>
          </div>
        </div>
        <div class="col">
          <div class="card bg-transparent border-0 rounded-0 h-100 product">
            <div class="position-relative">
              <img src="/user/img/trending-style/trending-style-6.jpg" class="card-img-top rounded-0" alt="what's-new">
              <div class="overlay position-absolute start-0 end-0 top-0 bottom-0 opacity-0 bg-dark bg-opacity-75 d-flex align-items-center h-100">
                <a href="#" class="link-light position-absolute top-0 end-0 m-3">
                  <i class="ri-heart-line ri-lg"></i>
                </a>
                <div class="d-flex align-items-center gap-3 position-absolute bottom-0 w-100 p-3">
                  <a href="cart.html" class="btn btn-light btn-sm rounded-0 border-2 d-flex align-items-center justify-content-between w-100">
                    <i class="ri-shopping-bag-line"></i>
                    <div>ADD TO CART</div>
                    <span class="px-1"></span>
                  </a>
                  <div class="w-auto z-3">
                    <input type="checkbox" class="btn-check" id="btncheck13">
                    <label class="btn btn-outline-light btn-sm border-2 rounded-0" for="btncheck13">
                      <i class="ri-heart-fill"></i>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body pb-0 px-0">
              <h6 class="card-title text-truncate mb-1">Relaxed fit Corduroy shirt </h6>
              <p class="card-text text-secondary-emphasis mb-0">Size: US XL / EU 56/ 4 </p>
            </div>
            <div class="card-footer bg-transparent border-0 px-0">
              <h6 class="mb-0">₹17,565</h6>
            </div>
            <a href="cart.html" class="stretched-link"></a>
          </div>
        </div>
        <div class="col">
          <div class="card bg-transparent border-0 rounded-0 h-100 product">
            <div class="position-relative">
              <img src="/user/img/trending-style/trending-style-7.jpg" class="card-img-top rounded-0" alt="what's-new">
              <div class="overlay position-absolute start-0 end-0 top-0 bottom-0 opacity-0 bg-dark bg-opacity-75 d-flex align-items-center h-100">
                <a href="#" class="link-light position-absolute top-0 end-0 m-3">
                  <i class="ri-heart-line ri-lg"></i>
                </a>
                <div class="d-flex align-items-center gap-3 position-absolute bottom-0 w-100 p-3">
                  <a href="cart.html" class="btn btn-light btn-sm rounded-0 border-2 d-flex align-items-center justify-content-between w-100">
                    <i class="ri-shopping-bag-line"></i>
                    <div>ADD TO CART</div>
                    <span class="px-1"></span>
                  </a>
                  <div class="w-auto z-3">
                    <input type="checkbox" class="btn-check" id="btncheck14">
                    <label class="btn btn-outline-light btn-sm border-2 rounded-0" for="btncheck14">
                      <i class="ri-heart-fill"></i>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body pb-0 px-0">
              <h6 class="card-title text-truncate mb-1">Oversized Fit Printed T-Shirt </h6>
              <p class="card-text text-secondary-emphasis mb-0">Size: US XL / EU 56/ 4 </p>
            </div>
            <div class="card-footer bg-transparent border-0 px-0">
              <h6 class="mb-0">₹17,565</h6>
            </div>
            <a href="cart.html" class="stretched-link"></a>
          </div>
        </div>
        <div class="col">
          <div class="card bg-transparent border-0 rounded-0 h-100 product">
            <div class="position-relative">
              <img src="/user/img/trending-style/trending-style-8.jpg" class="card-img-top rounded-0" alt="what's-new">
              <div class="overlay position-absolute start-0 end-0 top-0 bottom-0 opacity-0 bg-dark bg-opacity-75 d-flex align-items-center h-100">
                <a href="#" class="link-light position-absolute top-0 end-0 m-3">
                  <i class="ri-heart-line ri-lg"></i>
                </a>
                <div class="d-flex align-items-center gap-3 position-absolute bottom-0 w-100 p-3">
                  <a href="cart.html" class="btn btn-light btn-sm rounded-0 border-2 d-flex align-items-center justify-content-between w-100">
                    <i class="ri-shopping-bag-line"></i>
                    <div>ADD TO CART</div>
                    <span class="px-1"></span>
                  </a>
                  <div class="w-auto z-3">
                    <input type="checkbox" class="btn-check" id="btncheck15">
                    <label class="btn btn-outline-light btn-sm border-2 rounded-0" for="btncheck15">
                      <i class="ri-heart-fill"></i>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body pb-0 px-0">
              <h6 class="card-title text-truncate mb-1">Oversized Fit printed jersey top </h6>
              <p class="card-text text-secondary-emphasis mb-0">Size: US XL / EU 56/ 4 </p>
            </div>
            <div class="card-footer bg-transparent border-0 px-0">
              <h6 class="mb-0">₹17,565</h6>
            </div>
            <a href="cart.html" class="stretched-link"></a>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
</div>>
<%- include("footer.ejs"); %>