<%- include('navbar.ejs'); %>
	
				<!-- Section -->
				<section class="md-section md-skin-dark" id="id6" style="background-image:url(&quot;user/img/bg/demo.jpg&quot;);padding-bottom:50px;">
					<div class="md-overlay"></div>
					<div class="container">
						<div class="row">
							<div class="col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-2 ">
								
								<!-- sec-title -->
								<div class="sec-title sec-title__lg-title md-text-center">
									<h2 class="sec-title__title">Our team</h2><span class="sec-title__divider"></span>
								</div><!-- End / sec-title -->
								
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-md-6 col-lg-3 ">
								
								<!-- team -->
								<div class="team">
									<div class="team__img"><img src="user/img/team/1.jpg" alt=""/>
										<div class="team__overlay">
											<div class="md-tb">
												<div class="md-tb__cell md-text-center">
																	
																	<!-- social-icon -->
																	<a class="social-icon social-icon__style-03" href="#"><i class="social-icon__icon fa fa-facebook"></i>
																	</a><!-- End / social-icon -->
																	
																	
																	<!-- social-icon -->
																	<a class="social-icon social-icon__style-03" href="#"><i class="social-icon__icon fa fa-twitter"></i>
																	</a><!-- End / social-icon -->
																	
																	
																	<!-- social-icon -->
																	<a class="social-icon social-icon__style-03" href="#"><i class="social-icon__icon fa fa-linkedin"></i>
																	</a><!-- End / social-icon -->
																	
												</div>
											</div>
										</div>
									</div>
									<div class="team__body">
										<div class="team__user">
											<h4 class="team__name">Sean Coleman</h4><span class="team__work">Photography</span>
										</div>
										<p class="team__text">Nam elit ligula, egestas et ornare non, viverra eu justo. Aliquam ornare lectus ut</p>
									</div>
								</div><!-- End / team -->
								
							</div>
							<div class="col-sm-6 col-md-6 col-lg-3 ">
								
								<!-- team -->
								<div class="team">
									<div class="team__img"><img src="user/img/team/2.jpg" alt=""/>
										<div class="team__overlay">
											<div class="md-tb">
												<div class="md-tb__cell md-text-center">
																	
																	<!-- social-icon -->
																	<a class="social-icon social-icon__style-03" href="#"><i class="social-icon__icon fa fa-facebook"></i>
																	</a><!-- End / social-icon -->
																	
																	
																	<!-- social-icon -->
																	<a class="social-icon social-icon__style-03" href="#"><i class="social-icon__icon fa fa-twitter"></i>
																	</a><!-- End / social-icon -->
																	
																	
																	<!-- social-icon -->
																	<a class="social-icon social-icon__style-03" href="#"><i class="social-icon__icon fa fa-linkedin"></i>
																	</a><!-- End / social-icon -->
																	
												</div>
											</div>
										</div>
									</div>
									<div class="team__body">
										<div class="team__user">
											<h4 class="team__name">Daniel Ramirez</h4><span class="team__work">CEO &amp; Founder</span>
										</div>
										<p class="team__text">Etiam non varius justo, vel tempor mi. Nulla facilisi. Fusce at tortor arcu. Suspendisse</p>
									</div>
								</div><!-- End / team -->
								
							</div>
							<div class="col-sm-6 col-md-6 col-lg-3 ">
								
								<!-- team -->
								<div class="team">
									<div class="team__img"><img src="user/img/team/3.jpg" alt=""/>
										<div class="team__overlay">
											<div class="md-tb">
												<div class="md-tb__cell md-text-center">
																	
																	<!-- social-icon -->
																	<a class="social-icon social-icon__style-03" href="#"><i class="social-icon__icon fa fa-facebook"></i>
																	</a><!-- End / social-icon -->
																	
																	
																	<!-- social-icon -->
																	<a class="social-icon social-icon__style-03" href="#"><i class="social-icon__icon fa fa-twitter"></i>
																	</a><!-- End / social-icon -->
																	
																	
																	<!-- social-icon -->
																	<a class="social-icon social-icon__style-03" href="#"><i class="social-icon__icon fa fa-linkedin"></i>
																	</a><!-- End / social-icon -->
																	
												</div>
											</div>
										</div>
									</div>
									<div class="team__body">
										<div class="team__user">
											<h4 class="team__name">Sean Coleman</h4><span class="team__work">Photography</span>
										</div>
										<p class="team__text">Etiam non varius justo, vel tempor mi. Nulla facilisi. Fusce at tortor arcu. Suspendisse</p>
									</div>
								</div><!-- End / team -->
								
							</div>
							<div class="col-sm-6 col-md-6 col-lg-3 ">
								
								<!-- team -->
								<div class="team">
									<div class="team__img"><img src="user/img/team/4.jpg" alt=""/>
										<div class="team__overlay">
											<div class="md-tb">
												<div class="md-tb__cell md-text-center">
																	
																	<!-- social-icon -->
																	<a class="social-icon social-icon__style-03" href="#"><i class="social-icon__icon fa fa-facebook"></i>
																	</a><!-- End / social-icon -->
																	
																	
																	<!-- social-icon -->
																	<a class="social-icon social-icon__style-03" href="#"><i class="social-icon__icon fa fa-twitter"></i>
																	</a><!-- End / social-icon -->
																	
																	
																	<!-- social-icon -->
																	<a class="social-icon social-icon__style-03" href="#"><i class="social-icon__icon fa fa-linkedin"></i>
																	</a><!-- End / social-icon -->
																	
												</div>
											</div>
										</div>
									</div>
									<div class="team__body">
										<div class="team__user">
											<h4 class="team__name">Bryan Ryan</h4><span class="team__work">Designer</span>
										</div>
										<p class="team__text">Integer placerat ullamcorper urna nec rhoncus. Sed velit justo, lacinia non sapien</p>
									</div>
								</div><!-- End / team -->
								
							</div>
						</div>
					</div>
				</section>
				<!-- End / Section -->
<%- include('footer.ejs'); %>