<%- include("navbar.ejs"); %>
	
				<!-- Section -->
				<section class="md-section" id="id5">
					<div class="container">
						<div class="row">
							<div class="col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-2 ">
								
								<!-- sec-title -->
								<div class="sec-title sec-title__lg-title md-text-center">
									<h2 class="sec-title__title">Testimonial</h2><span class="sec-title__divider"></span>
								</div><!-- End / sec-title -->
								
							</div>
						</div>
						
						<!-- swiper swiper-container -->
						<div class="swiper swiper-container" data-options='{"slidesPerView":3,"spaceBetween":30,"breakpoints":{"600":{"slidesPerView":1},"991":{"slidesPerView":2,"spaceBetween":30}}}'>
							<div class="swiper-wrapper">
								<div class="testimonial-item">
									
									<!-- quote -->
									<blockquote class="quote">
										<p>Nam suscipit nisi risus, et porttitor metus molestie a. Phasellus id quam id turpis suscipit pretium. Maecenas ultrices, lacus ut accumsan maximus, odio augue rhoncus augue,</p>
									</blockquote><!-- End / quote -->
									
									
									<!-- authorbox -->
									<div class="authorbox">
										<div class="authorbox__avartar" style="background-image: url(https://unsplash.it/800);"><img src="https://unsplash.it/800" alt=""/></div>
										<div class="authorbox__info">
											<h5 class="authorbox__name">Raymond Mendoza</h5>
											<p class="authorbox__work">Developer</p>
										</div>
									</div><!-- End / authorbox -->
									
								</div>
								<div class="testimonial-item">
									
									<!-- quote -->
									<blockquote class="quote">
										<p>Maecenas lorem ex, euismod eget pulvinar non, facilisis ut leo. Quisque placerat purus in neque efficitur ornare. Nam at justo magna. Aliquam venenatis odio ante, non euismod augue</p>
									</blockquote><!-- End / quote -->
									
									
									<!-- authorbox -->
									<div class="authorbox">
										<div class="authorbox__avartar" style="background-image: url(https://unsplash.it/800);"><img src="https://unsplash.it/800" alt=""/></div>
										<div class="authorbox__info">
											<h5 class="authorbox__name">Bruce Powell</h5>
											<p class="authorbox__work">Developer</p>
										</div>
									</div><!-- End / authorbox -->
									
								</div>
								<div class="testimonial-item">
									
									<!-- quote -->
									<blockquote class="quote">
										<p>Integer placerat ullamcorper urna nec rhoncus. Sed velit justo, lacinia non sapien imperdiet, sagittis fringilla risus. Nulla in est lobortis massa consectetur scelerisque. Etiam</p>
									</blockquote><!-- End / quote -->
									
									
									<!-- authorbox -->
									<div class="authorbox">
										<div class="authorbox__avartar" style="background-image: url(https://unsplash.it/800);"><img src="https://unsplash.it/800" alt=""/></div>
										<div class="authorbox__info">
											<h5 class="authorbox__name">Maria Gutierrez</h5>
											<p class="authorbox__work">Support</p>
										</div>
									</div><!-- End / authorbox -->
									
								</div>
								<div class="testimonial-item">
									
									<!-- quote -->
									<blockquote class="quote">
										<p>Mauris lacinia venenatis dolor sit amet viverra. Integer malesuada nulla neque. Sed rutrum ligula eu sagittis volutpat. Aliquam erat volutpat. Praesent mattis non nulla eget</p>
									</blockquote><!-- End / quote -->
									
									
									<!-- authorbox -->
									<div class="authorbox">
										<div class="authorbox__avartar" style="background-image: url(https://unsplash.it/800);"><img src="https://unsplash.it/800" alt=""/></div>
										<div class="authorbox__info">
											<h5 class="authorbox__name">Brittany Williams</h5>
											<p class="authorbox__work">Developer</p>
										</div>
									</div><!-- End / authorbox -->
									
								</div>
							</div>
						</div><!-- End / swiper swiper-container -->
						
					</div>
				</section>
				<!-- End / Section -->
				
<%- include("footer.ejs"); %>